footer {
    background-color: var(--foreground);
    padding: 60px 0;
    color: var(--white);

    .footer-container {
        display: flex;
        gap: 60px;

        .brand {
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 4px;
            margin-bottom: 10px;
        }

        .content {
            font-size: 18px;
            line-height: 24px;
        }

        .contentContainer {
            width: 35%;
        }

        .linksContainer {
            display: flex;
            gap: 30px;

            a:hover {
                text-decoration: underline;
            }
        }
    }


}