.mainContent {
    background-color: var(--bg2);
    padding: 60px 0;

    .ctm-container {
        text-align: center;
        padding: 0 40px;

        .heading {
            font-size: 38px;
            font-weight: 600;
            margin-bottom: 32px;
        }

        .content {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 32px;
        }

        .subHeading {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;

            .sub {
                padding: 10px 12px;
                border: 1px solid var(--black);
                font-size: 18px;
                background-color: transparent;
                min-width: 100px;
                width: fit-content;
            }
        }
    }
}